In [90]:
import pandas as pd 
df=pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [91]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [92]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [93]:
df.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [94]:
x=df.drop('Outcome',axis=1)
y=df.Outcome
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,stratify=y,random_state=10)
x_test.shape

(192, 8)

In [95]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled[:3]

array([[ 0.63994726,  0.84832379,  0.14964075,  0.90726993, -0.69289057,
         0.20401277,  0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
        -0.68442195, -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, -1.28821221, -0.69289057,
        -1.10325546,  0.60439732, -0.10558415]])

In [96]:
y_train.value_counts()

0    375
1    201
Name: Outcome, dtype: int64

In [97]:
y_test.value_counts()

0    125
1     67
Name: Outcome, dtype: int64

In [98]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
scores=cross_val_score(DecisionTreeClassifier(), x,y,cv=5)
scores

array([0.69480519, 0.67532468, 0.68831169, 0.80392157, 0.73856209])

In [99]:
scores.mean()

0.7201850437144556

In [100]:
from sklearn.ensemble import BaggingClassifier 
bag_model=BaggingClassifier(  
    
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=.8,
    oob_score=True,
    random_state=0
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.7552083333333334

In [101]:
bag_model.score(x_test,y_test)

0.7760416666666666

In [102]:
bag_model=BaggingClassifier(  
    
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=.8,
    oob_score=True,
    random_state=0
)
score=cross_val_score(bag_model,x,y,cv=5)
score

array([0.75324675, 0.72727273, 0.74675325, 0.82352941, 0.73856209])

In [103]:
score.mean()

0.7578728461081402

In [104]:
from sklearn.ensemble import RandomForestClassifier
score=cross_val_score(RandomForestClassifier(n_estimators=10),x,y,cv=5)
score.mean()

0.7304643069348952

In [105]:
#exercise

In [106]:
import pandas as pd 
df=pd.read_csv('heart.csv')
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [107]:
df.shape

(918, 12)

In [108]:
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [109]:
df1=df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df1.shape

(915, 12)

In [110]:
df[df.MaxHR>(df.MaxHR.mean()+3*df.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [111]:
df[df.FastingBS>(df.FastingBS.mean()+3*df.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [112]:
df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())] 
df2=df1[df1.Oldpeak<=(df.Oldpeak.mean()+3*df.Oldpeak.std())]
df2.shape

(909, 12)

In [113]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())] 
df3=df2[df2.RestingBP<=(df.RestingBP.mean()+3*df.RestingBP.std())]
df3.shape

(902, 12)

In [114]:
df3.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [115]:
df3.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [116]:
df3.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [117]:
df3.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [118]:
df4=df3.copy()
df4.ExerciseAngina.replace(
{  
    'N':0,
    'Y':1
    
},
    inplace=True)

In [119]:
df4.ST_Slope.replace(
{  
    'Up':1,
    'Flat':2,
    'Down':3
    
},
    inplace=True)

In [120]:
df4.RestingECG.replace(
{  
    'Normal':1,
    'ST':2,
    'LVH':3
    
},
    inplace=True)

In [121]:
df4.ChestPainType.replace(
{  
    'ATA':1,
    'NAP':2,
    'ASY':3,
    'TA':4
    
},
    inplace=True)

In [122]:
df5=pd.get_dummies(df4,drop_first=True)
df5.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M
0,40,1,140,289,0,1,172,0,0.0,1,0,1
1,49,2,160,180,0,1,156,0,1.0,2,1,0
2,37,1,130,283,0,2,98,0,0.0,1,0,1
3,48,3,138,214,0,1,108,1,1.5,2,1,0
4,54,2,150,195,0,1,122,0,0.0,1,0,1

In [123]:
x=df5.drop('HeartDisease',axis=1)
y=df5.HeartDisease
x.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M
0,40,1,140,289,0,1,172,0,0.0,1,1
1,49,2,160,180,0,1,156,0,1.0,2,0
2,37,1,130,283,0,2,98,0,0.0,1,1
3,48,3,138,214,0,1,108,1,1.5,2,0
4,54,2,150,195,0,1,122,0,0.0,1,1

In [124]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled

array([[-1.42896269, -1.6990351 ,  0.46089071, ..., -0.84676261,
        -1.0456339 ,  0.51485643],
       [-0.47545956, -0.52558207,  1.5925728 , ...,  0.14079864,
         0.62072967, -1.94228905],
       [-1.74679706, -1.6990351 , -0.10495034, ..., -0.84676261,
        -1.0456339 ,  0.51485643],
       ...,
       [ 0.37209878,  0.64787097, -0.10495034, ...,  0.33831089,
         0.62072967,  0.51485643],
       [ 0.37209878, -1.6990351 , -0.10495034, ..., -0.84676261,
         0.62072967, -1.94228905],
       [-1.64085227, -0.52558207,  0.3477225 , ..., -0.84676261,
        -1.0456339 ,  0.51485643]])

In [125]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,stratify=y,random_state=10)
x_test.shape

(226, 11)

In [126]:
from sklearn.svm import SVC 
from sklearn.model_selection import cross_val_score 
score=cross_val_score(SVC(),x,y,cv=5)
score.mean()

0.6906445672191528

In [127]:
from sklearn.ensemble import BaggingClassifier 
bag_model=BaggingClassifier(base_estimator=SVC(),n_estimators=100,max_samples=.8,random_state=0)
scores=cross_val_score(bag_model,x,y,cv=5)
scores.mean()

0.6850767341927564

In [128]:
from sklearn.tree import DecisionTreeClassifier
scores=cross_val_score(DecisionTreeClassifier(random_state=0),x,y,cv=5)
scores.mean()

0.7482811540822591

In [129]:
from sklearn.ensemble import BaggingClassifier 
bag_model=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,max_samples=.8,random_state=0)
scores=cross_val_score(bag_model,x,y,cv=5)
scores.mean()

0.8048004910988336

In [130]:
from sklearn.ensemble import RandomForestClassifier
score=cross_val_score(RandomForestClassifier(),x,y,cv=5)
score.mean()

0.8303130755064456

In [131]:
#Exercise for PCA

In [132]:
df5.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M
0,40,1,140,289,0,1,172,0,0.0,1,0,1
1,49,2,160,180,0,1,156,0,1.0,2,1,0
2,37,1,130,283,0,2,98,0,0.0,1,0,1
3,48,3,138,214,0,1,108,1,1.5,2,1,0
4,54,2,150,195,0,1,122,0,0.0,1,0,1

In [165]:
from sklearn.decomposition import PCA
pca=PCA(.95)
x_pca=pca.fit_transform(x)
x_pca

array([[ 93.82578617, -29.40972153],
       [-15.58358373, -14.11138644],
       [ 83.29717401,  38.67558307],
       ...,
       [-67.5736769 ,  17.61569842],
       [ 40.7057408 , -33.39645499],
       [-19.91303046, -37.29272636]])

In [164]:
x_train,x_test,y_train,y_test=train_test_split(x_pca,y,test_size=.2,random_state=30)
x_test.shape

(181, 2)

In [202]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7182320441988951

In [203]:
#THANK YOU FOR THIS SESSION.......